/* var start */
:root{
  --main_color:#10cab7;
  --secondry_color:#2c4755;
  --section_padding:60px;
  --section_background:#f6f6f6;
}
/* var end */

/* Global Rules */
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;

}
html{
  scroll-behavior: smooth;
}

body{
  font-family: "work sans", sans-serif;
}

.container{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  
}


/* Small Screen */
@media (min-width:768px){
  .container{
    width: 750px; 
  }
}

/* Meduim */
@media (min-width:992px){
  .container{
    width: 970px;
  }
}

/* Large Screen */
@media (min-width:1200px){
  .container{
    width: 1170px;
  }
}

/* End Global Value */


/* Start Header */
.Header{
  padding: 20px;
}


.Header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header .logo {
  width: 60px;
}

.Header .links{
  position: relative;
}

.Header .links:hover .icon span:nth-child(2){
  width: 100%;
}


.Header .links .icon{
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.Header .links .icon span{
  background-color: black;
  height: 2px;
  margin-bottom: 5px;
}

.Header .links .icon span:first-child{
  width: 100%;
}

.Header .links .icon span:nth-child(2){
  width: 60%;
  transition: 0.2s;
}


.Header .links .icon span:last-child{
  width: 100%;
}

.Header .links ul{
  list-style: none;
  position: absolute;
  padding: 0;
  margin: 0;
  background-color: #ebe5e5;
  min-width: 200px;
  right: 0;
  top: calc(100% + 15px);
  display: none;
  z-index: 1;

}


.Header .links:hover ul{
  display: block;
}

.Header .links ul::before{
  content: "";
  position: absolute;
  border-style: solid;
  border-width:10px;
  border-color:transparent transparent #ebe5e5 transparent;
  right: 5px;
  top:-20px
}

.Header .links ul li a {
  padding: 15px;
  display: block;
  color: black;
  text-decoration: none;
  transition: 0.3s;
}

.Header .links ul li a:hover{
  padding-left: 25px;
}

.Header .links ul li:not(:last-child) a{
  border-bottom: 1px solid #ddd;
}

/* End Header section  */

/* Start landing section */

.landing{
  background-image: url(../image/cat.jpg);
  background-size:cover;
  height: calc(100vh - 64px);
  position: relative;

}

.landing .intro_text{
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50% ,-50%);
  width: 320px;
  max-width: 100%;

}

.landing .intro_text h1{
  margin: 0;
  color: var(--main_color);
  font-weight: bold;


}

.landing .intro_text p {
  font-size: 19px;
  line-height: 1.8;

}

/* Start feature  */
.feature{
  padding-top: var(--section_padding);
  padding-bottom: var(--section_padding);
  background-color:var(--section_background);


}
.feature .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap:20px;

}

.feature .feat{
  padding: 20px;
  text-align: center;
}

.feature .container i{
 color:var(--main_color);
 font-size: 30px;
 
}
.feature .feat h3{
  font-weight: 800;
  margin: 20px 0;
}
  


.feature .feat p{
  font-size: 17px;
  line-height: 1.8;
  color: #777;
}
/* End feature */

/* Start Services */
.special_heading{
  color: #d1d3d6;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}

.special_heading + p{
  font-size: 20px;
  margin: -30px 0;
  color: #797979;
  text-align: center;
}

@media (max-width: 767px) {
  .special_heading {
    font-size: 60px;
  }
  .special_heading + p {
    margin-top: -20px;
  }
}

.services_content{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 110px;

}

.services .services_content .serv{
  display: flex;
  margin-top: 40px;

}
@media(max-width:767px){
  .services .services_content .serv{
    flex-direction:column;
    text-align: center;
  }

}

.services .services_content .serv i{
  color: var(--main_color);
  flex-basis: 60px;

}
.services .services_content .serv .text{
  flex: 1;
}

.services .services_content .serv h3{
  margin: 0 0 20px;
}
.services .services_content .serv p{
  color: #444;
  font-weight: 300;
  line-height: 1.6;

}

.services .services_content .col .image{
  text-align: center;
  position: relative;
}

.services .services_content .col .image::before{
  content: "";
  width: 100px;
  position: absolute;
  background-color: var(--secondry_color);
  height: calc(100% + 100px);
  top: -50px;
  right: 0;
  z-index: -1;
}
.services .services_content .col .image img{
  width: 320px;
  height: 340px;
}
@media (max-width:1199px){
  .image_column{
    display: none;
  }

}

/* End Services */

/* Start Portfolio */
.Portfolio{
  padding-top: var(--section_padding);
  padding-bottom:var(--section_padding);
  background-color:var(--section_background);

}
.Portfolio .Portfolio_content{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px ,1fr));
  grid-gap: 30px;
  margin-top: 80px;

}

.Portfolio .Portfolio_content .card{
  background-color: white;
}
.Portfolio .Portfolio_content .card img{
  max-width: 100%;

}
.Portfolio .Portfolio_content .info{
  padding: 20px;
}
.Portfolio .Portfolio_content .info h3{
  margin: 0;
}
.Portfolio .Portfolio_content .info p{
  color: #777;
  line-height: 1.6;
  margin-bottom: 0;
}

@media (max-width:767px){
  .Portfolio .Portfolio_content .info{
    text-align: center;
  }

}
/* End Portfolio */


/* Start About  */

.About{
  padding-top: var(--section_padding);
  padding-bottom:calc( var(--section_padding) + 60px);
  
}
.About .About_content{
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
}

@media (max-width:991px){
  .About .About_content{
    text-align: center;
    flex-direction: column;
  }

}


.About .About_content .image {
  position: relative;
  width: 250px;
  height: 375px;
}

@media (max-width:991px){
  .About .About_content .image{
    margin: 0 auto 70px;
  }
}

.About .About_content .image img{
  width: 100%;
}

.About .About_content .image::before{
  content: "";
  position: absolute;
  background-color: #c7cfc7;
  height: calc(100% + 80px);
  width: 100px;
  left: -20px;
  top: -40px;
  z-index: -1;

}
.About .About_content .image::after{
  content: "";
  position: absolute;
  height: 300px;
  width: 100px;
  border-left: 80px solid var(--main_color);
  border-bottom: 80px solid var(--main_color);
  top: -40px;
  right: -140px;
  z-index: -1;
}

@media (max-width:991px){
  .About .About_content .image::after,
  .About .About_content .image::before{
    display: none;
  }
}

.About .About_content .text{
  flex-basis: calc(100% - 500px);

}

.About .About_content .text p:first-of-type{
  font-weight: 800;
  line-height: 2;
  margin-bottom: 50px;
}

.About .About_content .text hr{
  width: 50%;
  display: inline-block;
  border-color:var(--main_color) ;


}

.About .About_content .text p:last-of-type{
  color: #777;
  line-height: 2;
}
/* End About  */

/* Start contact */

.contact{
  padding-top: var(--section_padding);
  padding-bottom:var(--section_padding);
  background-color:var(--section_background);
}

.contact .info{
  padding-top: var(--section_padding);
  padding-bottom:var(--section_padding);
  text-align: center;

}


.contact .info .label{
  font-weight: 800;
  color: var(--secondry_color);
  letter-spacing: -2px;
  font-size: 35px;
  margin-bottom: 15px;
}

.contact .info .link{
  display: block;
  text-decoration: none;
  color: var(--main_color);
  font-weight: 800;
  font-size: 35px;

}
.contact .info .social{
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin-top: 20px;
}
.contact .info i{
  margin-left: 10px;
  color: var(--secondry_color);
}
@media (max-width:797px){
  .contact .info .link,
  .contact .info .label{
    font-size: 25px;
  }

}
 /* End contact  */

 /* Start footer */
 .footer{
  background-color: var(--secondry_color);
  text-align: center;
  padding: 30px 10px;
  color: white;
  font-size: 18px;

 }

 .footer span{
  font-weight: bold;
  color: var(--main_color);
 }
 /* End footer  */